/* ==UserStyle==
@name         ClickUp Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/clickup.user.css
==/UserStyle== */
@-moz-document domain("app.clickup.com") {
  .task-container__header {
    margin-bottom: 5px;
  }

  .task__toolbar {
    padding: 5px 10px;
  }

  .breadcrumbs {
    height: 30px;
  }

  .breadcrumbs__delim {
    height: 30px;
  }

  .task-mover__toggle {
    height: 30px;
  }

  .task-minimize,
.task-close {
    width: 30px;
    height: 30px;
  }

  .task-close {
    padding: 8px;
  }

  .task-column__body-toolbar {
    margin-top: 0;
    padding-top: 5px;
  }

  .task-name-block {
    padding: 0;
  }

  .task-name-container {
    padding: 0px;
  }

  .task-name,
.task-name__overlay {
    font-size: 1.5em;
    font-weight: 500;
  }

  .task-history__scroll-view {
    padding: 0 30px;
  }

  .cu-task-blockers__body {
    margin-top: 8px;
  }

  .cu-custom-fields__header,
.task-todo {
    padding: 8px 8px 8px 30px;
  }

  .task-todo__subtitle-row {
    display: none;
  }

  .cu-checklist2 {
    padding: 0 8px 0 30px;
  }

  .cu-checklist2-item .checklist2-title,
.gu-unselectable .checklist2-title {
    margin-bottom: 8px;
  }

  .cu-checklist2-item .checklist2-level,
.cu-checklist2-item .checklist2-row,
.gu-unselectable .checklist2-level {
    padding-bottom: 10px;
    margin-bottom: -10px;
  }

  .task-container {
    top: 5px;
    height: calc(100vh - 10px);
  }

  .task-uploader {
    height: 32px;
  }

  /* .task-container {
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
  }
  .task__body {
    flex-direction: column;
    overflow-y: scroll;
  }
  .task-column.task-column_main {
    position: relative;
    width: auto;
  }
  .task-column.task-column_activity {
    width: auto;
    margin-left: initial;
  } */
  .cu-dashboard-board-card .cu-task-row-status_border {
    z-index: 4;
  }

  .cu-task-row-tags {
    display: block;
  }

  .cu-tags-select__badge.cu-tags-view_ct,
.cu-tags-select__badge.list-view {
    border-radius: 3px;
  }
}