/* ==UserStyle==
@name         GitLab Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/gitlab.user.css
==/UserStyle== */
@-moz-document domain("gitlab.com") {
  /* Sidebar items */
  .nav-sidebar li a {
    padding: 6px 8px;
  }

  .nav-sidebar.sidebar-collapsed-desktop .sidebar-top-level-items > li > a {
    padding: 12px 16px;
  }

  .sidebar-sub-level-items > li a,
.sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a {
    padding: 4px 8px 4px 20px;
  }

  /* Rows in file table */
  table.table tr td,
.md table:not(.code) tr td,
table.table tr th,
.md table:not(.code) tr th {
    padding: 5px 8px;
  }

  /* Last commit */
  .info-well .well-segment {
    padding: 8px;
  }

  /* Settings */
  .settings-header {
    padding: 10px 55px 0 0;
  }

  h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 5px;
  }

  /* Project list */
  .projects-list .project-row {
    padding: 6px 0;
  }
}