/* ==UserStyle==
@name         Gmail Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/gmail.user.css
==/UserStyle== */
@-moz-document domain("mail.google.com") {
  body {
    /* #gb > div.gb_Ed.gb_de.gb_Nd.gb_fe {
      padding: 0 !important;

      // header section
      & > div.gb_Cc {
        height: auto !important;

        // left section
        &.gb_Zd.gb_Ae {
          // buttons
          & > .gb_hc {
            padding: 3px !important;
          }

          // actual logo image
          & > div.gb_ac > div > a > img {
            height: $header-height !important;
            width: auto !important;
          }
        }

        // middle section
        &.gb_Vd.gb_6d {
          // form wrapper
          .gb_Sd {
            height: $header-height !important;

            // image buttons
            .gb_Se button {
              svg,
              img {
                padding: 2px !important;
                margin: 0 !important;
              }
            }

            // search form
            form.gb_Se#aso_search_form_anchor {
              // search form wrapper
              & > div.gb_tf.gb_nf {
                height: $header-height !important;
                // search input
                & > input {
                  padding-top: 5px !important;
                  padding-bottom: 5px !important;
                  height: $header-height !important;
                }
              }
            }
          }
        }

        // right side buttons
        .gb_9c {
          padding: 0 !important;
        }
      }
    } */
    /* .gb_Wa:not(.gb_Xa) .gb_7d {
      padding: 0 !important;

      // header column
      .gb_Wc {
        height: auto !important;

        // left section
        &:nth-child(1) {
          // menu button
          .gb_zc {
            padding: 3px !important;
          }
          // actual logo image
          .gb_tc img {
            height: $header-height !important;
            width: auto !important;
          }
        }

        // middle section
        &:nth-child(2) {
          // form wrapper
          .gb_ke {
            height: $header-height !important;

            // search form
            form#aso_search_form_anchor {
              // image buttons
              button {
                svg,
                img {
                  padding: 2px !important;
                  margin: 0 !important;
                }
              }

              // search form wrapper
              .gb_Wf {
                height: $header-height !important;
                // search input
                input {
                  padding-top: 5px !important;
                  padding-bottom: 5px !important;
                  height: $header-height !important;
                }
              }
            }
          }
        }

        // right side buttons
        &:nth-child(2) .gb_vd {
          padding: 0 !important;
        }
      }
    } */
  }
  body .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) {
    min-width: calc(250px - 2px) !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_zc {
    padding: 3px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_tc img {
    height: 36px !important;
    width: auto !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form {
    border: none;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button svg,
body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button img {
    padding: 4px;
    margin: 2px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf input {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Xf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c {
    height: 36px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c .gb_D {
    padding: 0;
  }
  body .aKh {
    height: 30px !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 3 !important;
  }
  body .aKh .J-KU-Jg-K9 .J-KU .aAy {
    height: 30px !important;
  }
  body .aKh .aKi {
    height: 30px !important;
  }
  body .G-atb {
    height: 30px !important;
    background: #252525 !important;
    padding: 0 1em !important;
  }
  body .zA {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }
  body .aeN {
    width: 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
  }
  body .wT {
    max-width: 250px !important;
    min-width: 250px !important;
  }
  body .TN {
    padding: 0.2em 1em;
  }
}