/* ==UserStyle==
@name         Google My Activity Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-activity.user.css
==/UserStyle== */
@-moz-document domain("myactivity.google.com") {
  body .fp-display-item-holder md-card.fp-display-item-card {
    margin: 0;
  }
  body .fp-display-item-holder md-card.fp-display-item-card md-card-content {
    margin: 0;
    padding: 0.7em;
    position: relative;
  }
  body .fp-display-item-header {
    padding-bottom: 0.5em;
  }
  body .fp-display-block-details {
    margin: 0;
    position: absolute;
    top: 0.7em;
    right: 40px;
  }
  body .fp-display-block-video-holder,
body .fp-display-block-image {
    display: none;
  }
  body .main-column-width {
    max-width: 960px;
  }
  body md-sidenav.fp-sidenav-left.md-locked-open {
    max-width: 250px;
    top: 36px;
  }
  body md-toolbar {
    min-height: 36px;
  }
  body .fp-toolbar-tools {
    height: 36px;
  }
  body .fp-sidenav-content-button,
body a.fp-sidenav-content-button {
    padding-left: 1em;
  }
  body .fp-search-card {
    margin-top: 4px;
  }
  body .fp-search-button img {
    margin: 4px 8px;
  }
  body md-menu-content md-menu-item {
    min-height: 32px;
    height: auto;
  }
  body md-menu-content md-menu-item > a.md-button, body md-menu-content md-menu-item > .md-button,
body md-menu-content md-menu-item .history-overflow-menu a,
body md-menu-content md-menu-item .history-overflow-menu button {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
  body md-menu-content md-divider {
    margin-bottom: 4px;
    margin-top: 4px;
  }
  body .md-button,
body .fp-sidenav-content-button,
body a.fp-sidenav-content-button {
    min-height: 32px;
    line-height: 32px;
  }
  body .history-open-in-new-icon {
    margin-top: 0;
  }
  body .fp-sidenav-open-in-new {
    padding: 0;
    align-self: center;
  }
}