/* ==UserStyle==
@name         Google News Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-news.user.css
==/UserStyle== */
@-moz-document domain("news.google.com") {
  body .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) {
    min-width: calc(250px - 2px) !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_zc {
    padding: 3px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_tc img {
    height: 36px !important;
    width: auto !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form {
    border: none;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button svg,
body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button img {
    padding: 4px;
    margin: 2px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf input {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Xf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c {
    height: 36px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c .gb_D {
    padding: 0;
  }
  body .BL5WZb {
    grid-gap: 8px 32px;
  }
  body .NiLAwe.nID9nc {
    min-height: auto;
  }
  body .y6IFtc .xTewfe {
    padding: 8px;
  }
  body .gAl5If .Cc0Z5d {
    padding: 8px 8px 0 8px;
  }
  body .d7hoq {
    width: 50px;
    height: 50px;
    top: 8px;
    right: 8px;
  }
}