/* ==UserStyle==
@name         Google Calendar Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-calendar.user.css
==/UserStyle== */
@-moz-document domain("calendar.google.com") {
  body {
    /* .geSgge {
      .ifwtOb,
      .rES0Be {
        height: $month-view-event-row-height;
        font-size: 12px;
      }
      // inner wrapper
      .geSgge .g3dbUc {
        height: $month-view-event-row-height;
      }
    } */
  }
  body .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) {
    min-width: calc(250px - 2px) !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_zc {
    padding: 3px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_tc img {
    height: 36px !important;
    width: auto !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form {
    border: none;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button svg,
body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button img {
    padding: 4px;
    margin: 2px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf input {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Xf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c {
    height: 36px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c .gb_D {
    padding: 0;
  }
  body .dwlvNd {
    top: 44.5px;
  }
  body .LXjtcc {
    height: 65px;
  }
  body .hEtGGf::before {
    top: 65px;
  }
  body .t8qpF {
    line-height: inherit;
  }
  body .t8qpF .yzYBvd {
    margin: 0;
  }
  body .z80M1,
body .xAHiW .z80M1 {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  body .uyYuVb,
body .hxbWqd .uyYuVb {
    line-height: 32px;
    height: 32px;
  }
  body .kCtYwe {
    margin: 4px 0;
  }
}