/* ==UserStyle==
@name         Google Drive Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-drive.user.css
==/UserStyle== */
@-moz-document domain("drive.google.com") {
  body .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) {
    min-width: calc(250px - 2px) !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_zc {
    padding: 3px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_tc img {
    height: 36px !important;
    width: auto !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form {
    border: none;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button svg,
body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button img {
    padding: 4px;
    margin: 2px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf input {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Xf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c {
    height: 36px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c .gb_D {
    padding: 0;
  }
  body .a-nEbBXb .a-w.a-w-Mr,
body .a-nEbBXb .a-mb-w.a-w-Mr {
    height: auto !important;
  }
  body .a-nEbBXb .h-v {
    min-height: 32px !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  body .a-nEbBXb .h-v-x {
    line-height: 32px !important;
    min-height: 32px !important;
  }
  body .a-nEbBXb .h-Yo {
    margin: 4px 0 !important;
  }
}