/* ==UserStyle==
@name         Google Contacts Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.1
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-contacts.user.css
==/UserStyle== */
@-moz-document domain("contacts.google.com") {
  body {
    /* .XXcuqd {
      transform: translateY(0) !important;
      height: $contact-row-height !important;
      position: relative;
      // inner
      .zYQnTe {
        height: $contact-row-height;
        // cell
        .E6Tb7b {
          padding: 0;
          // checkbox
          & > .v2jl3d {
            padding: 8px;
            padding-left: 2px;
            width: $profile-picture-size;
            height: $profile-picture-size;
            top: 0;
          }
        }
      }
    } */
  }
  body .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) {
    min-width: calc(250px - 2px) !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_zc {
    padding: 3px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(1) .gb_tc img {
    height: 36px !important;
    width: auto !important;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form {
    border: none;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button svg,
body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form button img {
    padding: 4px;
    margin: 2px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Hf input {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2) .gb_Te form .gb_Xf {
    height: 32px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c {
    height: 36px;
  }
  body .gb_sa:not(.gb_ta) .gb_0d :nth-child(2).gb_2c .gb_D {
    padding: 0;
  }
  body .jqJLq.jqJLq a {
    padding: 0.2em 1em;
  }
  body .ANsHhf {
    width: 250px;
  }
  body.gb_Oe [data-ogpc] {
    margin-left: 250px !important;
  }
  body .k831u {
    padding-top: 5px;
  }
  body .k831u .aU2Vdf {
    padding: 0 0 0 6px;
  }
  body .esioQe,
body .tuQOVc {
    display: none;
  }
  body .VfPpkd-BIzmGd {
    height: 32px;
  }
  body .VfPpkd-BIzmGd::before {
    content: none;
  }
  body .VfPpkd-BIzmGd .VfPpkd-Q0XOV {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
  body .mjANdc {
    -moz-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    padding: 0;
  }
  body .mjANdc .G2PfHe {
    min-width: auto;
    border-radius: 0;
  }
  body .mjANdc .PbnGhe {
    display: flex;
    flex-direction: column;
  }
  body .mjANdc .W81Qsb {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
  body .mjANdc .rJ3fif {
    flex: 1;
    max-height: none;
  }
  body .mjANdc .g3VIld {
    padding: 0;
  }
  body .mjANdc > .g3VIld {
    box-flex: 2;
    flex-grow: 2;
    border-radius: 0;
    left: 0;
    right: 0;
    max-width: 900px;
    margin: 0 auto;
  }
  body .mjANdc > .ONJhl, body .mjANdc > .x3wWge {
    box-flex: 0;
    flex-grow: 0;
    height: 0;
  }
  body .mjANdc .tOrNgd {
    display: none;
  }
  body .mjANdc .TNczib {
    display: flex;
  }
  body .mjANdc .PbnGhe {
    padding: 0;
  }
  body .mjANdc .XfpsVe {
    display: none;
  }
  body .mjANdc .OllbWe {
    display: flex;
    box-align: start;
    align-items: flex-start;
    margin: 0 16px;
  }
}