/* ==UserStyle==
@name         StudySmarter Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/studysmarter.user.css
==/UserStyle== */
@-moz-document domain("app.studysmarter.de") {
  .nav-tabs {
    margin: 0 !important;
  }
  .nav-tabs > li > div, .nav-tabs > li.active {
    height: auto !important;
  }

  /* $sidebar-collapsed-width: 5rem;
  .main-menu {
    width: $sidebar-collapsed-width !important;

    // Menu logo
    .logo-menu-item .logo {
      margin-left: -32px;
      height: 50px;
    }

    // Menu icon
    .main-menu-items a {
      &,
      &:hover {
        .nav-icon {
          margin: 0 1rem !important;
        }
      }
    }
  } */
  .pdf-viewer-content .flashcard-tabs .mat-tab-header {
    height: 36px;
  }
  .pdf-viewer-content .flashcard-tabs .mat-tab-label {
    height: 36px;
    margin-top: 6px;
  }

  .fr-box.fr-basic .fr-element {
    padding: 14px;
  }
}