/* ==UserStyle==
@name         Wallet by BudgetBakers Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/wallet.user.css
==/UserStyle== */
@-moz-document domain("web.budgetbakers.com") {
  ._1V4hZqsf6Tn_Uoxjno3LXT {
    height: 40px;
  }
  ._1V4hZqsf6Tn_Uoxjno3LXT > div ._1T2YIpMEy1g-ajMOoANwjq {
    height: 2rem;
    width: 2rem;
  }

  ._2USGnBAiZbqzr2CjQQN3o9 {
    min-height: 40px;
  }

  ._1CrDlK-mmEah8xFW4eVrhj ._5NFnhpp7joa9CQoFA2Fw- ._14RWKiNFwtHCO_ubRsTZ57 {
    padding-top: 1rem;
  }

  ._1uSKSaPiYsN9Ka7HhUnDlE {
    padding: 0.5em 1.75em;
  }

  ._26YpAPyiy2U5mYsxLuBGRZ ._3uK5nO3_RKz7E4x-6oFDPW {
    padding: 0 1.75em;
  }

  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW {
    padding-left: 1rem;
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW ._3oJhqSCX8H5S0i6pA59f9k {
    padding: 0.2rem 0;
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW .qcICMAjXBzU_8kvhCu6Ir {
    flex-grow: 1;
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW ._2lJjm7w8pNpdChmKFMrtos {
    max-width: 100%;
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW .zh61r2aVULGpP5-PnSAHX {
    position: relative;
    padding-left: calc(13px + 1em);
  }
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW ._23-ZRXelEG9qWg4XNInfyY {
    position: absolute;
    left: 0;
  }

  ._1CrDlK-mmEah8xFW4eVrhj ._3Exlr1BmRkSoqcRKj_5FVk {
    margin: 0.5rem 0;
  }

  .VypTY5DQ_tmahm5VdHFJK ._2W5ir1a9AjpS_T-RYKFgxL {
    top: 40px;
  }

  ._3LthN375_buoLKLklajsys {
    height: 3.5rem;
  }

  .VypTY5DQ_tmahm5VdHFJK ._1Shxtv_xEkRfCl8-wJYSLR {
    padding: 0.5rem;
    top: calc(40px + 3.5rem);
  }

  ._2E58FjznkYlMP1cpNKlUED {
    padding-top: calc(40px + 1rem);
    padding-bottom: 1rem;
  }

  ._3vYNAFvOA0PcT_ansuTWiU ._1G4RrpLL512uJptsH35-hS {
    top: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  ._2E35fgvJkTf_aF67lvPEg4 ._1Osse6Zlew__d4K8ADj5BD {
    padding: 0.5rem;
  }
  ._2E35fgvJkTf_aF67lvPEg4 ._1Osse6Zlew__d4K8ADj5BD:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  ._1AnIBGgNaNf441y7BR0HBw {
    padding: 0.5rem 1rem;
  }

  ._5UMCzjAoYLqF_FfwIywp {
    padding: 1rem 2rem;
  }

  .ui.menu {
    min-height: auto;
  }

  .ui.secondary.pointing.menu .item {
    padding: 0.5em 1em;
    font-size: 1.3rem !important;
  }
}