/* ==UserStyle==
@name         ClickUp Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/clickup.user.css
==/UserStyle== */

@-moz-document domain("app.clickup.com") {
  // #region Task view
  $breadcrumbs-height: 30px;
  $close-icon-size: 14px;
  $bottom-bar-height: 32px;

  .task-container__header {
    margin-bottom: 5px;
  }

  .task__toolbar {
    padding: 5px 10px;
  }

  .breadcrumbs {
    height: $breadcrumbs-height;
  }
  .breadcrumbs__delim {
    height: $breadcrumbs-height;
  }
  .task-mover__toggle {
    height: $breadcrumbs-height;
  }
  .task-minimize,
  .task-close {
    width: $breadcrumbs-height;
    height: $breadcrumbs-height;
    // border-radius: 0;
  }
  .task-close {
    padding: #{($breadcrumbs-height - $close-icon-size) / 2};
  }

  .task-column__body-toolbar {
    margin-top: 0;
    padding-top: 5px;
  }

  .task-name-block {
    padding: 0;
  }
  .task-name-container {
    padding: 0px;
  }
  .task-name,
  .task-name__overlay {
    font-size: 1.5em;
    font-weight: 500;
  }

  $row-horizontal-padding: 30px;
  $row-vertical-padding: 8px;

  .task-history__scroll-view {
    padding: 0 $row-horizontal-padding;
  }

  .cu-task-blockers__body {
    margin-top: $row-vertical-padding;
  }
  .cu-custom-fields__header,
  .task-todo {
    padding: $row-vertical-padding $row-vertical-padding $row-vertical-padding
      $row-horizontal-padding;
  }
  .task-todo__subtitle-row {
    display: none;
  }
  .cu-checklist2 {
    padding: 0 $row-vertical-padding 0 $row-horizontal-padding;
  }
  .cu-checklist2-item .checklist2-title,
  .gu-unselectable .checklist2-title {
    margin-bottom: 8px;
  }
  $checklist-row-padding: 10px;
  .cu-checklist2-item .checklist2-level,
  .cu-checklist2-item .checklist2-row,
  .gu-unselectable .checklist2-level {
    padding-bottom: $checklist-row-padding;
    margin-bottom: -$checklist-row-padding;
  }

  .task-container {
    top: 5px;
    // left: 10px;
    // width: calc(100vw - 20px);
    height: calc(100vh - 10px);
  }

  .task-uploader {
    height: $bottom-bar-height;
  }

  // WIP Column mode
  /* .task-container {
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);
}
.task__body {
  flex-direction: column;
  overflow-y: scroll;
}
.task-column.task-column_main {
  position: relative;
  width: auto;
}
.task-column.task-column_activity {
  width: auto;
  margin-left: initial;
} */
  // #endregion

  // #region Fixes
  // Board view status changer overlapping other tasks
  .cu-dashboard-board-card .cu-task-row-status_border {
    z-index: 4;
  }

  // Task actions overlapping other things
  .cu-task-row-main__actions-inner {
    // display: flex;
  }

  // Show tags below task names
  .cu-task-row-tags {
    display: block;
  }

  .cu-tags-select__badge.cu-tags-view_ct,
  .cu-tags-select__badge.list-view {
    border-radius: 3px;
  }
  // #endregion
}
