@import "./google/variables";
@import "./google/mixins";

/* ==UserStyle==
@name         Google Contacts Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.1
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-contacts.user.css
==/UserStyle== */

@-moz-document domain("contacts.google.com") {
  $contact-row-height: 38px;
  $profile-picture-size: 36px;

  body {
    @include compactHeader();
    // contact row
    /* .XXcuqd {
    transform: translateY(0) !important;
    height: $contact-row-height !important;
    position: relative;
    // inner
    .zYQnTe {
      height: $contact-row-height;
      // cell
      .E6Tb7b {
        padding: 0;
        // checkbox
        & > .v2jl3d {
          padding: 8px;
          padding-left: 2px;
          width: $profile-picture-size;
          height: $profile-picture-size;
          top: 0;
        }
      }
    }
  } */

    // #region sidenav
    // sidenav link
    .jqJLq.jqJLq a {
      padding: $sidenav-button-padding-top $sidenav-button-padding-left;
    }
    // sidenav wrapper
    .ANsHhf {
      width: $sidenav-width;
    }
    // #endregion

    &.gb_Oe [data-ogpc] {
      margin-left: $sidenav-width !important;
    }

    // #region Create contact button
    // large add contact button wrapper
    .k831u {
      padding-top: 5px;
      // another wrapper
      .aU2Vdf {
        padding: 0 0 0 6px;
      }
    }

    // sidenav menu top overlay shadow
    .esioQe,
    .tuQOVc {
      display: none;
    }

    // create contact button
    .VfPpkd-BIzmGd {
      height: 32px;

      // padding
      &::before {
        content: none;
      }

      // icon
      .VfPpkd-Q0XOV {
        width: $create-button-icon-size;
        height: $create-button-icon-size;
        font-size: $create-button-icon-size;
      }
    }
    // #endregion

    // #region Contact Modal
    .mjANdc {
      -moz-box-align: stretch;
      box-align: stretch;
      align-items: stretch;
      padding: 0;

      .G2PfHe {
        min-width: auto;
        border-radius: 0;
      }
      .PbnGhe {
        display: flex;
        flex-direction: column;
      }
      .W81Qsb {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
      }
      .rJ3fif {
        flex: 1;
        max-height: none;
      }
      .g3VIld {
        padding: 0;
      }
      & > .g3VIld {
        box-flex: 2;
        flex-grow: 2;
        border-radius: 0;
        left: 0;
        right: 0;
        max-width: 900px;
        margin: 0 auto;
      }
      & > .ONJhl,
      & > .x3wWge {
        box-flex: 0;
        flex-grow: 0;
        height: 0;
      }
      .tOrNgd {
        display: none;
      }
      .TNczib {
        display: flex;
      }
      .PbnGhe {
        padding: 0;
      }
      .XfpsVe {
        display: none;
      }
      .OllbWe {
        display: flex;
        box-align: start;
        align-items: flex-start;
        margin: 0 16px;
      }
    }
    // #endregion
  }
}
