@import "./google/variables";
@import "./google/mixins";

/* ==UserStyle==
@name         Google Drive Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/google-drive.user.css
==/UserStyle== */

@-moz-document domain("drive.google.com") {
  body {
    @include compactHeader();
    // #region context menu
    // context menu
    .a-nEbBXb .a-w.a-w-Mr,
    .a-nEbBXb .a-mb-w.a-w-Mr {
      height: auto !important;
    }

    // context menu item
    .a-nEbBXb .h-v {
      min-height: $min-button-height !important;
      padding-left: $menu-button-side-padding !important;
      padding-right: $menu-button-side-padding !important;
    }

    // context menu item children
    .a-nEbBXb .h-v-x {
      line-height: $min-button-height !important;
      min-height: $min-button-height !important;
    }

    // context menu divider
    .a-nEbBXb .h-Yo {
      margin: $menu-divider-margin 0 !important;
    }
    // #endregion
  }
}
