/* ==UserStyle==
@name         StudySmarter Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/studysmarter.user.css
==/UserStyle== */

@-moz-document domain("app.studysmarter.de") {
  // #region Nav tabs
  .nav-tabs {
    margin: 0 !important;

    & > li {
      & > div,
      &.active {
        height: auto !important;
      }
    }
  }
  // #endregion

  // #region Menu Sidebar
  /* $sidebar-collapsed-width: 5rem;
.main-menu {
  width: $sidebar-collapsed-width !important;

  // Menu logo
  .logo-menu-item .logo {
    margin-left: -32px;
    height: 50px;
  }

  // Menu icon
  .main-menu-items a {
    &,
    &:hover {
      .nav-icon {
        margin: 0 1rem !important;
      }
    }
  }
} */
  // #endregion

  // PDF Viewer sidebar
  $pdf-viewer-sidebar-height: 36px;
  .pdf-viewer-content .flashcard-tabs {
    .mat-tab-header {
      height: $pdf-viewer-sidebar-height;
    }
    .mat-tab-label {
      height: $pdf-viewer-sidebar-height;
      margin-top: 6px;
    }
  }

  // Textarea input
  .fr-box.fr-basic .fr-element {
    padding: 14px;
  }
}
