/* ==UserStyle==
@name         Wallet by BudgetBakers Compact
@namespace    https://gitlab.com/siphomateke
@version      1.0.0
@license      MIT
@author Sipho Mateke (https://gitlab.com/siphomateke)
@homepageURL https://gitlab.com/siphomateke/compact-website-styles
@updateURL https://gitlab.com/siphomateke/compact-website-styles/-/raw/master/css/wallet.user.css
==/UserStyle== */

@-moz-document domain("web.budgetbakers.com") {
  $navbar-height: 40px;

  // Navbar
  ._1V4hZqsf6Tn_Uoxjno3LXT {
    height: $navbar-height;

    // Logo
    & > div ._1T2YIpMEy1g-ajMOoANwjq {
      height: 2rem;
      width: 2rem;
    }
  }

  // Navbar placeholder
  ._2USGnBAiZbqzr2CjQQN3o9 {
    min-height: $navbar-height;
  }

  // #region Sidebar
  ._1CrDlK-mmEah8xFW4eVrhj ._5NFnhpp7joa9CQoFA2Fw- ._14RWKiNFwtHCO_ubRsTZ57 {
    padding-top: 1rem;
  }

  // Search
  ._1uSKSaPiYsN9Ka7HhUnDlE {
    padding: 0.5em 1.75em;
  }

  // Filters
  ._26YpAPyiy2U5mYsxLuBGRZ ._3uK5nO3_RKz7E4x-6oFDPW {
    padding: 0 1.75em;
  }
  // #endregion

  // #region Records
  $attachment-icon-width: 13px;
  // Single record
  ._3wwqabSSUyshePYhPywONa._1WDK9_g9dlWq0E8o4YpuCW {
    padding-left: 1rem;

    & ._3oJhqSCX8H5S0i6pA59f9k {
      padding: 0.2rem 0;
    }

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    // Note wrapper
    .qcICMAjXBzU_8kvhCu6Ir {
      flex-grow: 1;
    }
    // Note
    ._2lJjm7w8pNpdChmKFMrtos {
      max-width: 100%;
    }

    // Value, currency and attachment wrapper
    .zh61r2aVULGpP5-PnSAHX {
      position: relative;
      padding-left: calc(#{$attachment-icon-width} + 1em);
    }

    // Attachment (Receipt)
    ._23-ZRXelEG9qWg4XNInfyY {
      position: absolute;
      left: 0;
    }
  }

  // Filters and sort strip
  ._1CrDlK-mmEah8xFW4eVrhj ._3Exlr1BmRkSoqcRKj_5FVk {
    margin: 0.5rem 0;
  }

  $sticky-header-height: 3.5rem;

  // Record sticky header
  .VypTY5DQ_tmahm5VdHFJK ._2W5ir1a9AjpS_T-RYKFgxL {
    top: $navbar-height;
  }
  ._3LthN375_buoLKLklajsys {
    height: $sticky-header-height;
  }

  // Record date separators
  .VypTY5DQ_tmahm5VdHFJK ._1Shxtv_xEkRfCl8-wJYSLR {
    padding: 0.5rem;
    top: calc(#{$navbar-height} + #{$sticky-header-height});
  }
  // #endregion

  // #region Dashboard
  // Account selector
  ._2E58FjznkYlMP1cpNKlUED {
    padding-top: calc(#{$navbar-height} + 1rem);
    padding-bottom: 1rem;
  }

  // Dashboard range selector sticky header
  ._3vYNAFvOA0PcT_ansuTWiU ._1G4RrpLL512uJptsH35-hS {
    top: $navbar-height;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  // #endregion

  // #region Accounts
  ._2E35fgvJkTf_aF67lvPEg4 ._1Osse6Zlew__d4K8ADj5BD {
    padding: 0.5rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  // #region Account detail
  // Header
  ._1AnIBGgNaNf441y7BR0HBw {
    padding: 0.5rem 1rem;
  }

  // Header body
  ._5UMCzjAoYLqF_FfwIywp {
    padding: 1rem 2rem;
  }

  // Tabs: Balance, Records
  .ui.menu {
    min-height: auto;
  }
  .ui.secondary.pointing.menu .item {
    padding: 0.5em 1em;
    font-size: 1.3rem !important;
  }
  // #endregion
  // #endregion
}
