$card-padding: 0.7em;

$header-height-raw: 36;
$header-height: #{$header-height-raw}px;

$min-button-height: 32px;

$menu-divider-margin: 4px;
$menu-button-side-padding: 1em;

$sidenav-width: 250px;
$sidenav-button-padding-left: 1em;
$sidenav-button-padding-top: 0.2em;

$create-button-icon-size: 24px;
$create-button-height-raw: 48;
$create-button-height: #{$create-button-height-raw}px;
$create-button-wrapper-height-raw: 65;
$create-button-wrapper-height: #{$create-button-wrapper-height-raw}px;
